*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
	scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.back {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.back-obj {
  width: 100%;
  height: 100%;
}

.timer {
  display: block;
}

.timer_title {
  font-size: 1rem;
  justify-items: center;
}

.timer_counter {
  display: grid;
  grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
  font-size: 3rem;
  justify-items: center;
  justify-content: center;
}

.timer__item {
  position: relative;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  color: #424242;
}

.title {
	flex: 0 0 auto;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
  margin: 10px;
}

.footer {
	flex: 0 0 auto;
	font-size: 0.875rem;
	justify-items: center;
}

.footer-counter {
	font-size: 1rem;
  border: 1px solid;
  padding: 0.2em;
}

img.counterIcon {
	width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

img.lastCounterIcon {
	width: 1em;
  height: 1em;
}

.region {
  display: flex;
  justify-content: flex-end;
}

#location {
  margin-right: 10px;
}
