<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Алкотаймер</title>
  <!-- Open Graph Generated: a.pr-cy.ru -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="https://alcotimer.ru/">
  <meta property="og:image" content="https://alcotimer.ru/png/cocktail.png">
  <meta property="og:site_name" content="Алкотаймер">
  <meta property="og:locale" content="ru_RU">
  <meta name="description" content="Таймер оставшегося времени до окончания продажи алкоголя" />

  <link rel="icon" href="svg/cocktail.svg" type="image/svg+xml">
  <link rel="stylesheet" href="style/style3.css">
</head>

<body>
  <div class="back">
    <object class="back-obj" type="image/svg+xml" data="svg/russia.svg"></object>
  </div>
  <div class="header">
    <div class="title">
      <img src="svg/cocktail.svg" type="image/svg+xml" alt="Алкотаймер" width="64" height="64">
      {{ title }}
    </div>
    <div class="region">
      <a id="location" href="javascript:void(0);">
        <object type="image/svg+xml" data="svg/location.svg" width="32" height="32" style="pointer-events: none;"></object>
      </a>
      <select name="region" id="region-select"></select>
    </div>    
  </div>
  <div class="timer">
    <div class="timer_title">Алкотаймер:</div>
    <div class="timer_counter">
      <div class="timer__item timer__hours">00</div>
      <div class="separator">:</div>
      <div class="timer__item timer__minutes">00</div>
      <div class="separator">:</div>
      <div class="timer__item timer__seconds">00</div>
    </div>
    <div class="ban_days">
      <div class="ban_days_all_title">
        <div class="ban_days_title">
          Актуальные особые дни запрета
        </div>
        <a id="ban_days_show_all" href="javascript:void(0);">
          [все]
        </a>
      </div>
      <div class="ban_days_list">
        нет
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-item">
      <a href="https://max.ru/join/f97VDsjbaPXe-lms0XyJn8pu-9_28gTGRyEE4UHEYAI" target="_blank">  
        <img src="svg/max.svg" type="image/svg+xml" alt="MAX мессенджер" width="24" height="24">  
      </a>
      <a href="https://pay.cloudtips.ru/p/8ab40392" target="_blank">  
        <img src="svg/cloudtips.svg" type="image/svg+xml" alt="CloudTips" width="108" height="24">  
      </a>  
    </div>
    <div class="footer-counter">

  <img class="counterIcon" src="png/day.png" type="image/png" alt="За сегодня" title="За сегодня" width="12" height="12">
  {{ today_hosts }}
  <img class="counterIcon" src="png/man.png" type="image/png" alt="посетителей" title="посетителей" width="12" height="12">
  {{ today_views }}
  <img class="lastCounterIcon" src="png/eye.png" type="image/png" alt="просмотров" title="просмотров" width="12" height="12">
  <img class="counterIcon" src="png/all.png" type="image/png" alt="Всего" title="Всего" width="12" height="12">
  {{ all_hosts }}
  <img class="counterIcon" src="png/man.png" type="image/png" alt="посетителей" title="посетителей" width="12" height="12">
  {{ all_views }}
  <img class="lastCounterIcon" src="png/eye.png" type="image/png" alt="просмотров" title="просмотров" width="12" height="12">
    </div>
  </div>
  <script src="script/script3.js"></script>
</body>

</html>

						